{% extends "layout.html" %}

{% block title %}
User Dashboard
{% endblock %}

{% include "nav.html" %}

{% block content %}
<style>
    .scroll-half {
        height: 70vh;
        overflow-y: auto;
    }
</style>

<!-- Recent Parkings -->
<div class="display-6 text-center mt-4 mb-4 text-white">Recent Parkings</div>

<div class="scroll-half px-3">
    <div class="card bg-dark text-white mb-3">
        <div class="card-body">
            <div class="row fw-bold">
                <div class="col-1">ID</div>
                <div class="col-2">Location</div>
                <div class="col-2">Vehicle Number</div>
                <div class="col-5">Time of Parking</div>
                <div class="col-2">Action</div>
            </div>
        </div>
    </div>

    {% for booking in bookings %}
    <div class="card bg-dark text-white mb-2">
        <div class="card-body">
            <div class="row">
                <div class="col-1">{{ booking.u_id }}</div>
                <div class="col-2"></div>
                <div class="col-2"></div>
                <div class="col-5">{{ booking.start_time.strftime('%Y-%m-%d at %H:%M') }}</div>
                <div class="col-2">
                    <form action="{{'/release/' + booking.r_id|string if booking.status else '/'}}" method="post">
                        <button type="submit" class="btn btn-{{'secondary' if not booking.status else 'danger'}} m-0"
                            {{'disabled' if not booking.status}}>{{ "Release" if booking.status else "Parked Out"
                            }}</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
    {% endfor %}
</div>

<a href="/book">
    <button type="button" class="btn btn-success position-fixed bottom-0 end-0 m-5">
        + Book Parking Spot
    </button>
</a>


{% endblock %}