{% extends "layout.html" %}
{% include "auth/nav-auth.html" %}
{% block title %}  
Register
{% endblock %}

{% block styles %}
<style>
    h2{
        text-align: center;
    }
    .box{
        display: flex;
        flex-direction: column;
        width: 30%;
        margin: 15vh auto;
        
    }
    .form-box{
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }
    #create-new{
        text-align: center;
        margin-top: 1rem;
        display: block;
        font-size: 18px;
        color: rgb(255, 255, 255);
        text-decoration: none;
    }
</style>
{% endblock %}

{% block content %}


<div class="box">
    <h2>Register</h2>
    <form method="post" class="form-box">
        <label for="username" class="form-label">
            Username
            <input type="email" name="username" id="username" class="form-control" required>
        </label>
        <label for="password" class="form-label">
            Password
            <input type="password" name="password" id="password" class="form-control" required>
        </label>
        <label for="name" class="form-label">
            Full Name
            <input type="text" name="name" id="name" class="form-control" required>
        </label>
        <label for="qualification" class="form-label">
            Address
            <input type="text" name="address" id="address" class="form-control" required>
        </label>
        <label for="dob" class="form-label">
            Pincode
            <input type="number" name="pincode" id="pincode" class="form-control" required>
        </label>
        <input type="submit" value="Register" class="mt-4 btn btn-success">
        <a id="create-new" href="/login">Already a user?</a>
    </form>   
</div>

{% endblock %}

{% block scripts %}
{% endblock %}